<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myrunplay.mayumsyka2" version="2.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>MayUmshka2</name>
    <description>MayUmshka Chapter 2</description>
    <author>Developer</author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Версии для RuStore -->
    <preference name="android-versionCode" value="20000" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />

    <!-- Собираем APK, а не AAB -->
    <preference name="android-packageType" value="apk" />

    <!-- Иконка -->
    <icon src="www/icon.png" />

    <!-- Плагин для музыки -->
    <plugin name="cordova-plugin-media" spec="^7.0.0" />

    <platform name="android">
        <preference name="android-usesCleartextTraffic" value="true" />
        <icon density="ldpi"    src="www/icon.png" />
        <icon density="mdpi"    src="www/icon.png" />
        <icon density="hdpi"    src="www/icon.png" />
        <icon density="xhdpi"   src="www/icon.png" />
        <icon density="xxhdpi"  src="www/icon.png" />
        <icon density="xxxhdpi" src="www/icon.png" />
    </platform>

</widget>
