<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myrunplay.mayumsyka2" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MayUmshka2</name>
    <description>MayUmshka Chapter 2</description>
    <author>Developer</author>
    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
